<ion-content class="modal-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>강의 영상 등록</ion-card-title>
    </ion-card-header>
    <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()">

      <ion-select formControlName="course_id" label="코스 선택" label-placement="floating" interface="popover">
        <ion-select-option *ngFor="let course of courses" [value]="course.id">
          {{ course.title }} - {{ course.instructor }} <!-- 코스 제목과 강사 이름 표시 -->
        </ion-select-option>
      </ion-select>

      <ion-input formControlName="lesson_title" label="강의(영상)제목" labelPlacement="floating" [counter]="true" maxlength="30"></ion-input>
      <ion-input formControlName="lesson_video" label="코스에 등록할 강의 영상 첨부 ➡" labelPlacement="" type="file"></ion-input>

      <ion-button class="btn-login" type="submit">생성하기</ion-button>
    </form>
  </ion-card>
</ion-content>
