<ion-content class="modal-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>학습 코스 생성</ion-card-title>
    </ion-card-header>
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
      <ion-input formControlName="course_title" label="코스이름" labelPlacement="floating" [counter]="true" maxlength="30"></ion-input>
      <ion-input formControlName="instructor_name" label="강사이름" labelPlacement="floating" [counter]="true" maxlength="20"></ion-input>
      <ion-input formControlName="description" label="코스설명" labelPlacement="floating" [counter]="true" maxlength="100"></ion-input>
      <ion-input formControlName="generation" label="기수" labelPlacement="floating" [counter]="true" maxlength="5"></ion-input>

      <ion-button class="btn-login" type="submit">생성하기</ion-button>
    </form>
  </ion-card>
</ion-content>
